#container {
    text-align: center;
}

h1, h3, figcaption {
    color: rgba(0, 0, 0, 0.8);
	text-align: center;
}

#image-gallery {
    margin-top: 10%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
}